#root {
  max-width: 1280px;
  min-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: antiquewhite;
}

.infoContainer {
  display: flex;
}

.infoKey {
  flex: 1;
  text-align: left;
}

.infoValue {
  flex: 4;
  text-align: left;
}

.spinner {
  margin: 50px auto;
  width: 50px;
  height: 50px;
  border: 5px solid gray;
  border-top: 5px solid blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
